
    <style>
        img:hover{
         box-shadow: 0px 10px 50px lightcoral;
         }
        </style>



<h2 class="page-header"><%= author.name %> </h2>

<form action= "/authors/<%= author.id %>/edit" method="GET">
    <button type="submit">Edit</button>
    </form>
<%- include('../partials/deleteForm', {url: `/authors/${author.id}`})  %> 


<% if(locals.books != null && locals.books.length > 0) {%>
    <h2>Books by Author</h2>
    <% books.forEach(element => {%> 
        <form action= "/books/<%= element.id %>" method="GET">
            <button type="submit">
                <img src="<%= element.coverImagePath %>" height="150" width="100" >
            </button>
            </form>
     <%});}  %> 
         
